# Nested Lists:

In [1]:
data = [
    [1,"Abdul Sami","AI"],
    [2,"Hamza Ansari","DS"],
    [3,"M Farhan",'FD']
]
print(data[1][2])

DS

In [2]:
data[0][2]="Artificial Intelligence"
data[1][2]="Data science"
data[2][2]="Flutter Developer"
print(data)

[[1, 'Abdul Sami', 'Artificial Intelligence'], [2, 'Hamza Ansari', 'Data science'], [3, 'M Farhan', 'Flutter Developer']]

# Lists Methods:

In [3]:
names = ["sami","haseeb","sharjeel"]
names.append("sultan")
print(names)

['sami', 'haseeb', 'sharjeel', 'sultan']

In [4]:
names = ["sami","haseeb","sharjeel"]
names.clear()
print(names)

[]

In [5]:
names = ["sami","haseeb","sharjeel"]
x = names.copy()
print(x)

['sami', 'haseeb', 'sharjeel']

In [6]:
# The count() method returns the number of elements with the specified value.
names = ["sami","haseeb","sharjeel"]
print(names.count("haseeb"))

1

In [9]:
names1 = ["sami","haseeb"]
names2 = ["sultan","sharjeel"]
names1.extend(names2)
print(names1)

['sami', 'haseeb', 'sultan', 'sharjeel']

In [10]:
names = ["sami","haseeb","sharjeel"]
names.index("haseeb")

1

In [12]:
names = ["sami","haseeb","sharjeel"]
names.insert(3,"sultan")
print(names)

['sami', 'haseeb', 'sharjeel', 'sultan']

In [14]:
names = ["sami","haseeb","sharjeel"]
names.pop(0) # index base
print(names)

['haseeb', 'sharjeel']

In [15]:
names = ["sami","haseeb","sharjeel"]
names.remove("sami")# value base
print(names)

['haseeb', 'sharjeel']

In [16]:
names = ["sami","haseeb","sharjeel"]
names.reverse()
print(names)

['sharjeel', 'haseeb', 'sami']

In [18]:
names = ["sami","haseeb","sharjeel"]
names.sort()
print(names)

['haseeb', 'sami', 'sharjeel']

# Tuple:

In [19]:
names = ("sami","noman","bilal")
print(names)

('sami', 'noman', 'bilal')

In [20]:
print(names[-1])
print(names[:2])

bilal
('sami', 'noman')

In [22]:
age = (12,21,12,24,34,12,32)
print(age.count(12))

3

In [23]:
age = (12,21,12,24,34,12,32)
age.index(12)

0

# Set:

In [24]:
names = {'sami','hasib','noman','farhan'}
print(names)

{'hasib', 'sami', 'noman', 'farhan'}

```A set is a collection which is unordered and unindexed, and doesnt allow duplicates. In Python, sets are written with curly    brackets.
    You cannot access items in a set by referring to an index
    Sets are mutable
    They are useful for checking for duplicates```

In [26]:
names = {'sami','hasib','noman','farhan','sami'}
print(names)

{'hasib', 'sami', 'noman', 'farhan'}

In [27]:
names.add('ali')
print(names)

{'noman', 'ali', 'hasib', 'sami', 'farhan'}

# Dictionary:

In [30]:
data = {
#   key     value
   'name': 'sami' , # item 1
   'age' : '22'    ,  # item 2
   'course' : 'AI & DS'  # item 3
}
print(data)

{'name': 'sami', 'age': '22', 'course': 'AI & DS'}

In [31]:
data['name']

'sami'

In [32]:
data.keys()

dict_keys(['name', 'age', 'course'])

In [33]:
data.values()

dict_values(['sami', '22', 'AI & DS'])

In [34]:
data.items()

dict_items([('name', 'sami'), ('age', '22'), ('course', 'AI & DS')])

In [35]:
data1= data.copy()
print(data1)

{'name': 'sami', 'age': '22', 'course': 'AI & DS'}

In [37]:
data1['name']='hamza'
print(data1)
print(data)

{'name': 'hamza', 'age': '22', 'course': 'AI & DS'}
{'name': 'sami', 'age': '22', 'course': 'AI & DS'}

In [39]:
data1.get('name')

'hamza'

In [40]:
dict.fromkeys(['id','name','fname','course','timing','address']) # create dict with list

{'id': None,
 'name': None,
 'fname': None,
 'course': None,
 'timing': None,
 'address': None}

In [43]:
data = {}
data['id'] = 1
data['name'] = 'qasim'
data['timing'] = '9 pm to 12 am'
print(data)
data.setdefault('course','AI')
print(data)

{'id': 1, 'name': 'qasim', 'timing': '9 pm to 12 am'}
{'id': 1, 'name': 'qasim', 'timing': '9 pm to 12 am', 'course': 'AI'}

In [44]:
print(data.pop('id'))
print(data)

1
{'name': 'qasim', 'timing': '9 pm to 12 am', 'course': 'AI'}

In [45]:
print(data.popitem())
print(data)

('course', 'AI')
{'name': 'qasim', 'timing': '9 pm to 12 am'}

In [46]:
data.update({'id':20,"name":'Zonaib'})
data

{'name': 'Zonaib', 'timing': '9 pm to 12 am', 'id': 20}