In [1]:
name = "Abdul Sami"
print(type(name))

<class 'str'>

In [7]:
#The dir() function returns all properties and methods of the specified object, without the values.
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
#Only captalize the first alphabet of string
name = "AbdUl sAmI"
print(name.capitalize())

Abdul sami

In [10]:
#convert all the characters in lower case
name = "abdUl sAmI"
print(name.casefold())

abdul sami

In [11]:
name = "Abdul Sami"
print(name.center(50))

                    Abdul Sami

In [15]:
name = "Abdul Sami"
print(name.count('a'))

1

In [16]:
name = "Abdul Sami"
print(name.casefold().count('a'))

2

In [19]:
name = "Abdul Sami"
print(name.encode())

b'Abdul Sami'

In [20]:
name = "Abdul Sami"
print(name.encode('utf-8'))

b'Abdul Sami'

In [21]:
name = "Abdul Sami"
print(name.endswith('mi'))

True

In [24]:
name ="name:\tAbdul Sami\n age:\t22"
print(name.expandtabs(20))

name:               Abdul Sami
 age:               22

In [25]:
name ="name:\tAbdul Sami\n age:\t22"
print(name.find('Abdul'))

6

In [27]:
name ="name:\tAbdul Sami\n age:\t22 \t Abdul"
print(name.find('Abdul',12))

28

In [32]:
name ="name:\tAbdul Sami\n age:\t22 \t Abdul"
print(name.find('Abdul',name.find('Abdul')+1))

28

In [47]:
intro = 'name:\t{}\nage:\t{}\nteacher:\t{}'.format("sami","22","Qasim")
print(intro.expandtabs(20))

name:               sami
age:                22
teacher:            Qasim

In [ ]:
intro = "name:\t{name}\nage:\t{age}\nteacher:\t{teacher}" .format_map(data)
data = {
    'name':'Abdul Sami',
    'age':'21',
    'teacher':'Qasim'
}
print(intro.expandtabs(20))

In [54]:
name = "Abdul Sami"
print(name.index('S'))

6

In [55]:
name = "Abdul Sami"
print(name.isalnum())

False

In [57]:
#The isalpha() method returns True if all the characters are alphabet letters (a-z)
name = "2Abdul Sami"
print(name.isalpha())

False

In [58]:
name = "Abdul Sami"
print(name.isascii())

True

In [61]:
number = "10"
print(number.isdecimal())

True

In [62]:
number = "10"
print(number.isdigit())

True

In [63]:
number = "10.0"
print(number.isdecimal())

False

In [69]:
name = "pak12"
print(name.isidentifier())

True

In [70]:
name = "AbDul SamI"
print(name.islower())

False

In [89]:
name = "abdul sami"
print(name.title())

Abdul Sami

# Lists (Data Type):

In [90]:
#             0              1                2            3
names = ['Abdul Sami','Muhammad Farhan','Bilal Akram','Noman Ali']
#           -4               -3               -2          -1
print(type(names))

<class 'list'>

In [73]:
print(names[3])
print(names[-1])

Noman Ali
Noman Ali

In [92]:
names = ['Abdul Sami','Muhammad Farhan','Bilal Akram','Noman Ali',100,200,300,400]
print(type(names[-1]))

<class 'int'>

In [91]:
# update list
names[-4]='Hamza Ansari'
print(names)

['Hamza Ansari', 'Muhammad Farhan', 'Bilal Akram', 'Noman Ali']

# Slicing in List:

```list[start:end:step]
defualt left to right (step=1, -1)
star: include
end:exlude
step: ```

In [93]:
names
names[0:3]
names[0::2]
names[-8:]
names[::-1]

[400,
 300,
 200,
 100,
 'Noman Ali',
 'Bilal Akram',
 'Muhammad Farhan',
 'Abdul Sami']